/* Elukerio website stylesheet | GNU GPL v3 | @mablr */
body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #F2EDE8;
    overflow-wrap: break-word;
}

a {
    color: #2f7ad8;
    text-decoration: none;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
/* Fonts */
@font-face {
    font-family: brandish;
    src: url('Brandish_Regular.ttf')
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.brandish {
  font-family: brandish;
}

.fw-elem {
    grid-column: 1/7;
}

.icon-left-elem {
    grid-column: 1/7;
}

.icon-right-elem {
    grid-column: 1/7;
}

.text-left-elem {
    grid-column: 1/7;
}

.text-right-elem {
    grid-column: 1/7;
}

/* Responsive */
@media (min-width: 576px) {
    .elu-container {
        max-width: 540px
    }
    .fw-elem {
      grid-column: 1/7;
    }

    .icon-left-elem {
      grid-column: 1/7;
    }

    .icon-right-elem {
      grid-column: 1/7;
    }

    .text-left-elem {
      grid-column: 1/7;
    }

    .text-right-elem {
      grid-column: 1/7;
    }
}

@media (min-width: 768px) {
    .elu-container {
        max-width: 720px
    }
    .elu-nav {
        text-align: center
    }
    .fw-elem {
      grid-column: 1/7;
    }

    .icon-left-elem {
      grid-column: 1/7;
    }

    .icon-right-elem {
      grid-column: 1/7;
    }

    .text-left-elem {
      grid-column: 1/7;
    }

    .text-right-elem {
      grid-column: 1/7;
    }
}

@media (min-width: 992px) {
    .elu-container {
        max-width: 960px
    }
    .elu-nav {
        text-align: center
    }.fw-elem {
      grid-column: 1/7;
    }

    .icon-left-elem {
      grid-column: 1/5;
    }

    .icon-right-elem {
      grid-column: 3/7;
    }

    .text-left-elem {
      grid-column: 1/2;
    }

    .text-right-elem {
      grid-column: 6/7;
    }
}

@media (min-width: 1200px) {
    .elu-container {
        max-width: 1140px
    }
    .elu-nav {
        text-align: center
    }
    .fw-elem {
      grid-column: 1/7;
    }

    .icon-left-elem {
      grid-column: 1/5;
    }

    .icon-right-elem {
      grid-column: 3/7;
    }

    .text-left-elem {
      grid-column: 1/2;
    }

    .text-right-elem {
      grid-column: 6/7;
    }
}

/* Grid system */
.elu-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0px 50px;
}

.elu-grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    max-width: 90vw;
}

/* Pagination */
.elu-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

.elu-cover {
    min-height: 95vh;
    padding-top: 5rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

.elu-cover-dark {
    background-color: #434d56;
    color: #fff;
}
.elu-cover-dark p {
    color: #ccc;
}

.elu-cover-dark a {
    color: #fff;
}

.elu-cover-s {
   min-height: 60vh;
}

.elu-cover-show-more {
    display: block;
    min-height: 20vh;
    text-align: center;
}

.elu-footer {
    min-height: 15vh;
    padding: 3rem 0;
    background-color: #262a30;
}

/* Navbar */
.elu-header {
    background-color: #262a30;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000
}

a.elu-brand, div.elu-brand {
    font-family: brandish;
    font-size: 36px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none
}

.elu-brand:hover, .elu-brand:focus, .elu-brand:active  {
    text-decoration: none;
    color: #fff
}

.elu-nav {
    font-size: 14px;
    box-shadow: 0 3px 3px rgba(36, 41, 46, 0.5);
    padding: 0 1em;
    height: 44px;
    overflow: hidden;
}

.elu-nav div.elu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    max-height: 88px;
}

.elu-nav div.elu-list-item {
    display: inline-block
}

div .elu-nav-link {
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 44px;
    height: 44px
}

div .elu-nav-link:hover,
div .elu-nav-link:active,
div .elu-nav-link:focus {
    background-color: rgba(255, 255, 255, 0.08);
    text-decoration: none;
    box-shadow: initial
}

.elu-nav div.elu-list-item:last-child {
    position: absolute;
    right: 0;
    bottom: 44px;
    background-image: linear-gradient(to right, rgba(36, 41, 46, 0) 0, rgba(36, 41, 46, 1) 20px)
}

.elu-nav div.elu-list-item:nth-last-child(2) {
    display: none
}

.elu-nav#menu:target {
    height: auto;
    padding: 0
}

.elu-nav#menu:target div.elu-list {
    max-height: none
}

.elu-nav#menu:target div.elu-list-item {
    display: block;
    text-align: center
}

.elu-nav#menu:target .elu-nav-link {
    display: block;
    background-color: rgba(255, 255, 255, 0.05)
}

.elu-nav#menu:target .elu-nav-link:hover {
    background-color: rgba(255, 255, 255, 0.08)
}

.elu-nav#menu:target div.elu-list-item:not(:first-child) {
    margin-top: 2px
}

.elu-nav#menu:target div.elu-list-item:first-child {
    margin-right: 52px
}

.elu-nav#menu:target div.elu-list-item:first-child .elu-nav-link {
    padding-left: 68px
}

.elu-nav#menu:target div.elu-list-item:last-child {
    display: none
}

.elu-nav#menu:target div.elu-list-item:nth-last-child(2) {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0
}


/* Buttons */
.elu-btn {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    font-size: 20px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    max-width: 50vw;
}

.elu-btn-xl {
    font-size: 30px;
    padding: 25px 16px;
    border-radius: 4px;
}

.elu-btn:hover {
    border-width: 2px;
    padding: 15px;
    -webkit-transition: border-width 0.1s; /* Safari */
    transition: border-width 0.1s;
    -webkit-transition: padding 0.1s; /* Safari */
    transition: padding 0.1s;
}

.elu-btn-xl:hover {
  padding: 24px 15px;
}

.elu-btn-green {
    color: white;
    background-color: #01B842;
    border-color: #019134;
}

.elu-btn-blue {
    color: white;
    background-color: #1B5AC2;
    border-color: #174DA6;
}

.elu-btn-blue-out {
    color: #1B5AC2;
    border-color: #1B5AC2;
}

/* Icons */
.elu-icon {
  display: initial
}

/* Font sizes */
.d0 {
  font-size: 148px;
}

.d1 {
    font-size: 62px;
    font-weight: 300
}

.d2 {
    font-size: 53px;
    font-weight: 300
}

.d3 {
    font-size: 44px;
    font-weight: 300
}

.d4 {
    font-size: 35px;
    font-weight: 300
}

.d5 {
    font-size: 26px;
    font-weight: 300
}

.d6 {
    font-size: 17px;
    font-weight: 300
}
